*{b
 margin: 0px;
 padding: 0px;
 }
 h1{
 font: bold 20px Tahoma;
 }
 
 h2{
 font: bold 14px Tahoma;
 }
 header, section, footer, aside, nav, article, hgroup {
 display:block;
 }
 
 body  {
 text-align:center;
 }
 #body_div{
 border: 1px solid black;
 width:1000px;
 margin: 20px auto;
 text-align: left;
  }
 
 #header {

border: 1px solid blue;
padding: 20px; 
  }
  
   #header h3{
 background:yellow;

  }
  
   #menu{
 background:blue;
color: white;
  }
  
     #menu li {
 display: inline-block;
list-style:none;
font: bold 14px Taxoma;
  }
  
  article{
  background: #FFAB11;
  border:1px solid #aaff11;
  padding: 20px;
  margin-bottom: 15px;
  
  }
  article footer{
  text-align:right;
  
  }
  
  
  
  