*{
      margin:0px;
      padding:0px;
}

h1{
     font: bold 20px Taxoma;
}
h1{
     font: bold 14 Taxoma;
}

header,section,article,hgroup,footer,nav,aside{
      display:block;
}

body{
      width:100%;
	  display:-webkit-box;
	  -webkit-box-pack: center;
	}
