 h3{font-family:Arial Black, sans-serif; color:#015fbb;} 
 p{ color: #015ffb} 
 .stil1{font-size:   small;font-family: Verdana, Helvetica, Arial, sans-serif;line-height: 3em;}   
 p1{ color: #000000} 
.stil2{line-height:1.9em;  font-style:italic;  font-family:      Georgia, "Times New Roman", Times, serif;  color:#444444;  border-color:black; border-width:1px; border-style: solid;  background-color: #a7cece; padding:1.5em; padding-left: 100px; margin:30px; margin-right:250px; background-repeat:   no-repeat;background-position: top left;border-style: dashed;border-color: white;} 
.stil3{line-height:1.9em;  font-style:bold;  font-family:      Trebuchet MS, "Times New Roman", Times, serif;  color:red;  border-color:black; border-width:1px; border-style: solid;  background-color: yellow; padding:1.5em; padding-left: 100px; margin:30px; margin-right:250px; background-repeat:   no-repeat;background-position: top left;border-style: dashed;border-color: white;} 
    
    
    
