body{
text-align:center;
}

#box{

display:block;
width:500px;
margin:50px;
padding:15px;
text-align:center;
border:1px solid blue;
//*background:-webkit-linear-gradient(45deg, black, white);*//
background:-webkit-radial-gradient(center,circle,red 0%,blue 50%);
-webkit-border-radius:25px;
-webkit-box-shadow:rgba(200,200,200,.4) 8px 8px 8px inset; 


}
#text{
font:bold 30px Gotic;
text-shadow:rgb(200,200,200) 3px 3px 5px ; 
}