
#mainbox{
border:2px solid blue;
display:-webkit-box;
-webkit-box-orient:horizontal;
width:700px;
-webkit-box-pack: center;
height:300px;
-webkit-box-align:center;


}
#box1{
background:yellow;
padding: 20px;
border: 2px solid black;
margin: 10px;
-webkit-box-flex:1;

width:60px;
height:100px;
}
#box2{
background:red;
padding: 20px;
border: 2px solid black;
margin: 10px;

width:60px;
-webkit-box-flex:1;
height:100px;

opacity:0.5;
-webkit-transform: rotate(0deg) scale(1.0);
-webkit-transition:-webkit-transform 2s,opacity 1s,background 2s,width 2s;


}

#box2:hover{
-webkit-transform:rotate(360deg) scale(2.0) translate(20px,100px);
opacity:1;
background: #ff22aa;

}
#box3{
background:green;
padding: 20px;
border: 2px solid black;
margin: 10px;
-webkit-box-flex:1;
-webkit-box-ordinal-group:4;
height:100px;

opacity:0.5;
-webkit-transform: rotate(0deg) scale(1.0);
-webkit-transition:-webkit-transform 2s,opacity 2s,background 2s,width 2s;


}

#box3:hover{
-webkit-transform:rotate(360deg) scale(2.0) translate(20px,100px);
opacity:1;
background: #ff22aa;

}

#box4{
background:blue;
padding: 20px;
border: 2px solid black;
margin: 10px;
width:60px;
-webkit-box-flex:1;
height:100px;
opacity:0.5;
-webkit-transform: rotate(0deg) scale(1.0);
-webkit-transition:-webkit-transform 2s,opacity 2s,background 2s,width 2s;


}

#box4:hover{
-webkit-transform:rotate(360deg) scale(2.0) translate(20px,100px);
opacity:1;
background: #ff22aa;

}







#box1{
background:yellow;
padding: 20px;
border: 2px solid black;
margin: 10px;
-webkit-box-flex:1;

width:60px;
height:100px;



opacity:0.5;
-webkit-transform: rotate(0deg) scale(1.0);
-webkit-transition:-webkit-transform 2s,opacity 2s,background 2s,width 2s;


}

#box1:hover{
-webkit-transform:rotate(360deg) scale(2.0) translate(20px,100px);
opacity:1;
background: #ff22aa;

}





